<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Menu</h1>
      <form action="/menu/add" method="POST">
        <div class="input-group">
          <label for="name">Menu name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder="eg. Jay's favorite menu"
            maxlength="100" value={{name}}>
        </div>
        <div class="input-group">
          <label for="category">Menu Category</label>
          <input type="text" name="category" id="category" class="input-box" placeholder="eg. Dinner, Brunch, BBQ"
          maxlength="100" value={{category}}>
        </div>
        <div class="input-group">
          <label for="desc">Menu Description</label>
          <textarea name="desc" id="desc" class="input-box" placeholder="Describe the details of the Menu"
            rows="10">{{desc}}</textarea>
        </div>
        <input type="submit" value="Add Menu" class="btn btn-reverse">
      </form>
    </div>
  </section>