<section id="search" class="search-wrap">
  <h1>Plan Your SupperClub Event</h1>
  <form action="/menu/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="Dinner, brunch, bbq">
    <input type="submit" value="Search">
  </form>
</section>
