<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Menu</h5>
          <p>
            <strong>ID</strong>: {{menu.id}}</p>
          <p>
          <p>
            <strong>Category</strong>: {{menu.category}}</p>
          <p>
            <strong>Description:</strong> {{menu.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>